DAW Primero/clase2609_xmlydtd/casasrurales.dtd

<!ELEMENT casas_rurales (casa+)>
<!ELEMENT casa (direccion, descripcion?, estado, (tamanio | hectareas), disponible)>
<!ATTLIST casa id ID #REQUIRED>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT estado (#PCDATA)>
<!ELEMENT tamanio (#PCDATA)>
<!ELEMENT hectareas (#PCDATA)>
<!ELEMENT disponible EMPTY>